<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.elias.backup</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/mikesimka/elias_garden_elixir/complete_backup.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>18</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/mikesimka/elias_garden_elixir</string>
    <key>StandardOutPath</key>
    <string>/Users/mikesimka/elias_garden_elixir/backup_log.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/mikesimka/elias_garden_elixir/backup_error.txt</string>
</dict>
</plist>
